{% extends "Template.html" %}
{% block content %}

<!-- BLOCK BEGINS HERE -->
	<h1 class="text-h2-lightblue">Floating Point Numbers Representation</h1>
	<div class="content" id="experiment-article-section-6-content"></div>					
	<p>This section will be updated soon.</p>
    <br><br><hr>
    <div>
        {{ scores }}
    </div>

<!-- script -->

<script>
    var scoreList = {{ scores }};
    console.log('score list is')
    console.log(scoreList);
    console.log(scoreList[0] + "    " + scoreList[1]);
</script>

<!-- And ends here -->

{% endblock %}
